{% extends 'emails/base.html' %} {% block title %}Password Reset - The beauty
Spa by Shea{% endblock %} {% block header %}Reset Your Password{% endblock %} {%
block content %}
<h2>Password Reset Request</h2>
<p>
  We received a request to reset your password for your The beauty Spa by Shea
  account.
</p>

<div class="info-box">
  <h3
    style="margin: 0; font-size: 24px; text-align: center; letter-spacing: 3px"
  >
    {{ otp }}
  </h3>
</div>

<p>
  Enter this code in the app to create a new password. This code will expire in
  10 minutes.
</p>

<div class="warning-box">
  <strong>Security Notice:</strong> If you didn't request this password reset,
  please ignore this email. Your account remains secure.
</div>

<p>For additional security, consider:</p>
<ul>
  <li>Using a strong, unique password</li>
  <li>Enabling two-factor authentication</li>
  <li>Keeping your account information up to date</li>
</ul>
{% endblock %}
